:root {
    --color-black-1: #000000;
    --color-white-1: #FFFFFF;
    --color-white-2: #F7F7F7;
    --color-gray-1: #00000029;
    --color-gray-2: #A5A5A5;
    --color-gray-3: #E8E9ED;
    --color-gray-4: #95989A;
    --color-gray-5: #707070;
    --color-blue-1: #08A6E4;
    --color-blue-2: #07ACE629;
    --color-blue-3: #07ACE6;
    --color-darkblue-1: #13253B;
    --color-aqua-1:#55DFB4;
    --color-pink-1:#FB3B64;
    --color-pink-2:#F9043629;
    --color-pink-3:#EB476E;
    --color-pink-4:#FF091129;

    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
*{
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}
.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;     /* Dlaczego ustawiamy height: 100%? Aby nasz kontener miał
                         taką samą wysokość jak jego rodzić, czyli header.
                         Dzięki temu działa wyśrodkowanie w pionie czyli: align-items: center.*/
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300; /*Grubosc czcionki*/
    color: var(--color-blue-1);
}
.header__nav {
    display:flex;
}

.nav__link {
    color: var(--color-gray-1);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    letter-spacing: 0.205rem;
}

.nav__link:hover {
    color: var(--color-black-1);
    border-bottom: 4px solid;
    border-color: var(--color-blue-1); /*Podkreslenie dolne w kolorze niebieskim*/

}
